@import "stepper";
@import "checkout-form";
@import "shopping-cart";

/* -- Checkout page -- */
#Checkout-page {
  position: relative;
  max-width: $max-width;
  margin: 0 auto;
  padding: 14px;
  position: relative;
  @include pc-media {
    padding: 14px 24px;
  }

  .checkout-section-title {
    font-size: 32px;
    font-weight: 700;
  }
}
